@use "../../styles/base" as *;

.checkbox {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  margin-right: 8px;
}

.checkbox-input {
  display: none;
}

.checkbox-box {
  @include flexbox;
  width: 14px;
  height: 14px;
  border: 2px solid $text-color;
  border-radius: 3px;
  background-color: $accent-color_light;
  margin-right: 5px;
  justify-content: center;
}

.checkbox-check {
  color: rgb(137 81 90 / 87%);
  font-size: 11px;
  font-weight: bold;
}
