@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=League+Spartan:wght@100..900&display=swap");

.header {
    top: 0;
    display: flex;
    position: relative;
    width: 100%;
    min-height: 120px;
    margin-bottom: 30px;
    align-items: center;
    background-color: #babde2;
    padding: 0 50px;
    gap: 20px;
}

.header-name {
    width: 25%;
    font-family: "Inria Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 5rem;
    color: #374375;

}

.header-navigation {
    width: 65%;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.header-navigation .link {
    font-family: "Inria Sans", sans-serif;
    font-style: normal;
    color: #374375;
    font-size: 3vh;
    text-decoration: none;
}

.header-navigation .active-link {
    color: #89515a;
}