@use "../../styles/base" as *;

.header-navigation {
  width: 65%;
  display: flex;
  justify-content: flex-end;
  gap: 50px;

  .link {
    font-family: "Inria Sans", sans-serif;
    font-style: normal;
    color: $text-color;
    font-size: 3vh;
    text-decoration: none;
  }

  .active-link {
    color: $accent-color_dark;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .header-navigation {
    display: none;
  }
}