@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=League+Spartan:wght@100..900&display=swap");


.task-input {
    display: flex;
    background-color: #babde2;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
    align-items: center;
    gap: 10px
}

.task-input input {
    width: 60%;
    border-radius: 8px;
    border: none;
    background-color: #fffcf5;
    font-weight: 600;
    color: #374375;
}

.task-input select {
    width: 20%;
    border-radius: 8px;
    border: none;
    background-color: #dfaea1;
    font-weight: 600;
    color: #374375;
}

.task-input select option,
.filters select option {
    border-radius: 8px;
    border: none;
    background-color: #dfaea1;
    font-weight: 600;
    color: #374375;
}

.task-input input,
.task-input select {
    padding: 8px;
}

.task-input button {
    width: 20%;
    border-radius: 8px;
    border: none;
    background-color: #89515a;
    font-weight: 600;
    color: #dfaea1;
    padding: 8px 12px;
}