@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=League+Spartan:wght@100..900&display=swap");

.filters {
    display: flex;
    font-weight: 600;
    justify-content: left;
    align-items: center;
    padding-top: 10px;
}

.filters select {
    margin-left: 20px;
    padding-left: 8px;
    width: 18%;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: #dfaea1;
    font-weight: 600;
    color: #374375;
}

.todo-list {
    font-family: "Inria Sans", sans-serif;
    font-style: normal;
    color: #374375;
    max-width: 90%;
    text-align: center;
    margin: auto auto 30px;
}