@use "../../styles/base" as *;

.main {
  @include flexbox;
  @include text_style(500, 16px);
  flex: 1 0 auto;
  flex-direction: column;
  text-align: left;

  h3 {
    background-color: $background-color;
    border-radius: 8px;
    height: 25px;
    padding: 10px;
  }
}

.main-text {
  margin-top: 20px;
}