@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=League+Spartan:wght@100..900&display=swap");


.footer {
    flex: 0 0 auto;
    width: 100%;
    min-height: 120px;
    text-align: left;
    display: flex;
    align-items: center;
    background-color: #babde2;
    gap: 50px;
    padding: 0 20px;
}

.footer p {
    font-family: "Inria Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 4vh;
    color: #374375;
}

.footer a {
    font-weight: 400;
    text-decoration: none;
    color: #374375;
}